<form [formGroup]="NovaPessoa" (ngSubmit)="Adicionar()">
    <div class="container-fluid containerAddconfig">
        <h4 class="h4Addconfig"><strong>Criar Novo Cadastro</strong></h4>
        <div class="container-fluid containerformAddconfig">
        <div class="row AddH5rowconfig">
        <h5>preencha os Campos a Seguir com as Informações Requeridos:</h5>
        </div>
        <div class="form-group">
        <div class="form-row Addrowsconfig">
            <div class="col">
                <label>CPF:
                <input type="text" class="form-control Addinputconfig" mask="000.000.000-00" formControlName="cpf">
                </label>
                    <div *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)"class="erroConfig">
                    <small *ngIf="cpf.errors">{{ teste(cpf.errors) }}</small>
                    </div>
            </div>
            <div class="col">
            </div>
        </div>
        <div class="form-row Addrowsconfig">
            <div class="col">
                <label>Nome:
                <input type="text" class="form-control Addinputconfig" maxlength="20" formControlName="nome">
                </label>
                    <div *ngIf="nome.invalid && (nome.dirty || nome.touched)"class="erroConfig">
                    <small *ngIf="nome.errors">{{ teste(nome.errors) }}</small>
                    </div>
            </div>
            <div class="col">
                <label>Sobre Nome:
                <input type="text" class="form-control Addinputconfig" maxlength="20" formControlName="sobre_Nome">
                </label>
                    <div *ngIf="sobre_Nome.invalid && (sobre_Nome.dirty || sobre_Nome.touched)"class="erroConfig">
                    <small *ngIf="sobre_Nome.errors">{{ teste(sobre_Nome.errors) }}</small>
                    </div>
            </div>
        </div>
        <div class="form-row Addrowsconfig">
            <div class="col">
                <label>Email:
                <input type="text" class="form-control Addinputconfig" maxlength="50" formControlName="email">
                </label>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)"class="erroConfig">
                    <small *ngIf="email.errors">{{ teste(email.errors) }}</small>
                    </div>
            </div>
            <div class="col">
                <label>Sexo:
                <select type="text" class="form-control Addinputconfig" formControlName="sexo">
                <option>Masculino</option>
                <option>Feminino</option>
                </select>
                </label>
                    <div *ngIf="sexo.invalid && (sexo.dirty || sexo.touched)"class="erroConfig">
                    <small *ngIf="sexo.errors">{{ teste(sexo.errors) }}</small>
                    </div>
            </div>
        </div>
        <div class="form-row Addrowsconfig">
            <div class="col">
                <label>Data de Nascimento:
                <input type="date" class="form-control Addinputconfig" formControlName="dT_Nascimento">
                </label>
                    <div *ngIf="dT_Nascimento.invalid && (dT_Nascimento.dirty || dT_Nascimento.touched)" class="erroConfig">
                    <small *ngIf="dT_Nascimento.errors">{{ teste(dT_Nascimento.errors) }}</small>
                    </div>
            </div>
            <div class="col">
            </div>
            </div>
        </div>
        </div>
    <br>
       <div class="row">
           <div class="col">
           <button class="Addbuttonconfig" routerLink="/pessoas">Voltar</button>
           </div>
           <div class="col">
           <button type="submit" class="Addbuttonconfig" [disabled]="NovaPessoa.invalid">Adicionar</button>
        </div>
        </div>
    </div>
</form>

